# .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
.vs/
*.DotSettings
*.DotSettings.user

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Node
node_modules/
dist/
.parcel-cache
*.tsbuildinfo

# Storage
storage/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
temp/
tmp/
